
@{
    Layout = "~/Views/Shared/Layout2.cshtml";
}

@model ReceitasModel

<title>Menu Principal</title>

<!--Import Google Icon Font-->
@*
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">*@

<!--Import materialize.css-->
@*
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">*@

<!--Import Jquery e JavaScript-->
@*
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>*@




<h5 style="font-family: 'Merienda One', cursive;" id="nomeVisitante">SEJA BEM VINDO @ViewData["NOME"]!</h5>


<body>

    <ul id='dropdown1' class='dropdown-content dropdown-menu-left'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li><a href="#!">three</a></li>
    </ul>



    <main>

        <div class="fixed-action-btn ">
            <a class="btn-floating btn-large red ">
                <i class="large material-icons ">add</i>
            </a>
            <ul id="iconsSuspensos">
                <li><a class="btn-floating deep-purple darken-4"><i class="material-icons" title="Transação">swap_horiz</i></a></li>
                <li><a href="#modal2" class="btn-floating green modal-trigger"><i class="material-icons" title="Receita">publish</i></a></li>
                <li><a href="#modal1" class="btn-floating red modal-trigger"><i class="material-icons" title="Despesa">file_download</i></a></li>
            </ul>
        </div>

    </main>

    <div id="cards">

        <!-- <div id="cardReceita">
            <div class="row">
                <div class="col s12 m12 ">
                    <div class="card z-depth-4" style="background-color: #4ea952">
                        <div class="card-content white-text">

                            @{
                                if (@ViewData["TotalReceitas"] != null)
                                {
                                    var total = @ViewData["TotalReceitas"].ToString();
                                    <span class="card-title ">Saldo Total Receitas.</span>
                                    <h1 style="font-family: 'Merienda One'; color: white">R$ @total </h1>
                                }
                                else
                                {
                                    <span class="card-title "> Você não possui saldo de Receitas!</span>
                                }

                            }

                        </div>


                    </div>
                </div>
            </div>
        </div> -->



        <!-- <div id="cardDespesa">
            <div class="row">
                <div class="col s12 m12 ">
                    <div class="card z-depth-4" style="background-color: #e53935">
                        <div class="card-content white-text">

                            @{


                                if (@ViewData["TotalDespesas"] != null)
                                {
                                    var total = @ViewData["TotalDespesas"].ToString();
                                    <span class="card-title ">Saldo Total Despesas. </span>
                                    <h1 style="font-family: 'Merienda One'; color: white">R$ @total </h1>
                                }
                                else
                                {
                                    <span class="card-title "> Você não possui saldo de Despesas!</span>
                                }

                            }

                        </div>


                    </div>
                </div>
            </div>
        </div> -->


        <!-- <div id="cardTotal">
            <div class="row">
                <div class="col s12 m12 ">
                    <div class="card z-depth-4" style="background-color: #2196f3">
                        <div class="card-content white-text">

                            @{

                                if (@ViewData["TotalDespesas"] != null && @ViewData["TotalReceitas"] != null)
                                {
                                    var despesas = int.Parse(ViewData["TotalDespesas"].ToString());
                                    var receitas = int.Parse(ViewData["TotalReceitas"].ToString());
                                    <span class="card-title ">Saldo Total! </span>
                                    <h1 style="font-family: 'Merienda One'; color: white">R$ @(receitas - despesas) </h1>
                                }
                                else
                                {
                                    <span class="card-title "> Você não possui saldo de Despesas!</span>
                                }

                            }

                        </div>


                    </div>
                </div>
            </div>
        </div> -->

    </div>



    <table class="centered" id="tableSaldos">


        <tbody>
            <tr>
                <td>
                    <div id="cardSaldos">
                        <div class="row">
                            <div class="col s12 m12 ">
                                <div class="card z-depth-4" style="background-color: #4ea952">
                                    <div class="card-content white-text">

                                        @{
                                            if (@ViewData["TotalReceitas"] != null)
                                            {
                                                var total = @ViewData["TotalReceitas"].ToString();
                                                <span class="card-title ">Saldo Total Receitas.</span>
                                                <h1 style="font-family: 'Merienda One'; color: white">R$ @total </h1>
                                            }
                                            else
                                            {
                                                <span class="card-title "> Você não possui saldo de Receitas!</span>
                                            }

                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>


            <tr>
                <td>

                    <div id="cardSaldos">
                        <div class="row">
                            <div class="col s12 m12 ">
                                <div class="card z-depth-4" style="background-color: #e53935">
                                    <div class="card-content white-text">

                                        @{


                                            if (@ViewData["TotalDespesas"] != null)
                                            {
                                                var total = @ViewData["TotalDespesas"].ToString();
                                                <span class="card-title ">Saldo Total Despesas. </span>
                                                <h1 style="font-family: 'Merienda One'; color: white">R$ @total </h1>
                                            }
                                            else
                                            {
                                                <span class="card-title "> Você não possui saldo de Despesas!</span>
                                            }

                                        }

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>


            <tr>

                <td>

                    <div id="cardTotal">
                        <div class="row">
                            <div class="col s12 m12 ">
                                <div class="card z-depth-4" style="background-color: #2196f3">
                                    <div class="card-content white-text">

                                        @{

                                            if (@ViewData["TotalDespesas"] != null && @ViewData["TotalReceitas"] != null)
                                            {
                                                var despesas = int.Parse(ViewData["TotalDespesas"].ToString());
                                                var receitas = int.Parse(ViewData["TotalReceitas"].ToString());
                                                <span class="card-title ">Saldo Total! </span>
                                                <h1 style="font-family: 'Merienda One'; color: white">R$ @(receitas - despesas) </h1>
                                            }
                                            else
                                            {
                                                <span class="card-title "> Você não possui saldo de Despesas!</span>
                                            }

                                        }

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>
        </tbody>
    </table>

    <script>

    </script>

</body>