@{
    ViewData["Title"] = "Receitas";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

@model Receitas
<h2>Receitas</h2>







<body>
    <main>
        <div id="intervaloData" style="display: none;">
            <table class="">
                <tbody>
                    <tr>
                        <td> <input type="text" class="datepicker" asp-for="dtInicial" > </td>
                        <td>à </td>
                        <td> <input type="text" class="datepicker" asp-for="dtFinal" > </td>
                        <th></th>
                        <th><a href="#"><i class="material-icons" title="Despesa">search</i></a></th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="input-field col s12" id="filtro">
                <select onchange="selectoption()"  id="opcao">
                    <option value="1" >Data</option>
                    <option value="2">Intervalo de Data</option>
                    <option value="3">Descrição</option>
                    <option value="4">Valor Crescente</option>
                    <option value="5">Valor Decrescente</option>
                </select>
                <label>Filtrar por:</label>
            </div>
        </div>







        <div id="grid">

            <table class="highlight centered" id="grid">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Conta</th>
                        <th>Tipo de Conta</th>
                    </tr>
                </thead>



                @{
                    foreach (var item in (List<Receitas>)ViewBag.ListaReceitas)

                    {
                        <tbody>
                            <tr>

                                <td>@item.dataReceita.ToString()</td>
                                <td>@item.descricaoReceita.ToString()</td>
                                <td>@item.categoriaReceita.ToString()</td>
                                <td>@item.valor.ToString()</td>
                                <td>@item.nomeConta.ToString()</td>
                                <td>@item.tipoConta.ToString()</td>


                                @*item = new Receitas();
                                    item. = dt.Rows[i]["cm.Data"].ToString();
                                    item. = dt.Rows[i]["cm.DsReceita"].ToString();
                                    item. = dt.Rows[i]["DsTipoReceita"].ToString();
                                    item. = decimal.Parse(dt.Rows[i]["cm.valorReceita"].ToString());
                                    item. = dt.Rows[i]["c.NomeConta"].ToString();
                                    item. = dt.Rows[i]["c.TipoConta"].ToString();*@


                            </tr>
                        </tbody>
                    }
                }



                @*<tbody>
                        <tr>
                            <td>12/12/2019</td>
                            <td>venda de peças</td>
                            <td>venda</td>
                            <td>$100</td>
                            <td>carteira</td>
                            <td>Pessoal</td>
                        </tr>

                        <tr>
                            <td>19/02/2019</td>
                            <td>extra</td>
                            <td>sem categoria</td>
                            <td>$500</td>
                            <td>banco do brasil</td>
                            <td>Pessoal</td>
                        </tr>

                        <tr>
                            <td>28/01/2019</td>
                            <td>extorno do cartão</td>
                            <td>reembolso</td>
                            <td>$480</td>
                            <td>banco do bradesco</td>
                            <td>Pessoal</td>
                        </tr>

                    </tbody>*@
            </table>

        </div>
    </main>


    <script>


    </script>





</body>