@{
    ViewData["Title"] = "Receitas";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

@model Receitas
<h2>Receitas</h2>

<body>
    <main>
        <div id="intervaloData" style="display: none;">
            <table class="">
                <tbody>
                    <tr>
                        <td> <input type="text" class="datepicker" asp-for="dtInicial" > </td>
                        <td>à </td>
                        <td> <input type="text" class="datepicker" asp-for="dtFinal" > </td>
                        <th></th>
                        <th><a href="#"><i class="material-icons" title="Despesa">search</i></a></th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="input-field col s12" id="filtro">
                <select onchange="selectoption()"  id="opcao">
                    <option value="1" >Data</option>
                    <option value="2">Intervalo de Data</option>
                    <option value="3" >Descrição</option>
                    <option value="4">Valor Crescente</option>
                    <option value="5">Valor Decrescente</option>
                </select>
                <label>Filtrar por:</label>
            </div>
        </div>



        <div id="grid">

            <table class="highlight centered" id="grid">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Conta</th>
                        <th>Tipo de Conta</th>
                        <th>Opções</th>
                        
                        
                    </tr>
                </thead>


                @{
                    foreach (var item in (List<Receitas>)ViewBag.ListaReceitas)

                    {
                        <tbody id="lista">
                            <tr>                                
                                <td value=@item.id.ToString() data-id = @item.id.ToString() hidden></td> 
                                <td>@item.dataReceita.ToString()</td>
                                <td>@item.tipoReceita.ToString()</td>
                                <td>@item.categoriaReceita.ToString()</td>
                                <td>@item.valor.ToString()</td>
                                <td>@item.nomeConta.ToString()</td>
                                <td>@item.tipoConta.ToString()</td>
                                <td> <a href="#" onclick="ExcluirRceita(@item.id.ToString())"> <i class="material-icons" style="color: red" title="Deletar">delete</i> </a>  <a href="#"> <i class="material-icons" title="Editar">edit</i> </a></td>                                    

                            </tr>
                        </tbody>
                    }
                }

            </table>

        </div>

        

        <div class="fixed-action-btn ">
            <a class="btn-floating btn-large red ">
                <i class="large material-icons ">add</i>
            </a>
            <ul>
                <li><a class="btn-floating deep-purple darken-4"><i class="material-icons" title="Transação">swap_horiz</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons" title="Receita">publish</i></a></li>
                <li><a class="btn-floating red"><i class="material-icons" title="Despesa">file_download</i></a></li>
            </ul>
        </div>
    

    </main>


    <script>

    </script>


</body>