@inject IHttpContextAccessor HttpContextAccessor

@{
    var id = HttpContextAccessor.HttpContext.Session.GetString("IdUsuarioLogado");
    List<ReceitasModel> Receitas;
}

@{
    ViewData["Title"] = "Receitas";
    Layout = "~/Views/Shared/Layout2.cshtml";
}


@model ReceitasModel

@{ if ((List<ReceitasModel>)ViewBag.ListaReceitas == null)
    {
        <h3 style="font-family: 'Merienda One', cursive; color:orangered">Você não possue Receitas para serem exibidas!</h3>
    }
    else
    {

        <h3 style="font-family: 'Merienda One', cursive; color:#21a721">Receitas</h3>

        <body>

            <main>
                <div id="intervaloData" style="display: none;">
                    <table class="">
                        <tbody>
                            <tr>
                                <td> <input type="text" class="datepicker" asp-for="dtInicial"> </td>
                                <td>à </td>
                                <td> <input type="text" class="datepicker" asp-for="dtFinal"> </td>
                                <th></th>
                                <th><a href="#"><i class="material-icons" title="Despesa">search</i></a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <div class="input-field col s12" id="filtro">
                        <select onchange="selectoption()" id="opcao">
                            <option value="1">Data</option>
                            <option value="2">Intervalo de Data</option>
                            <option value="3">Descrição</option>
                            <option value="4">Valor Crescente</option>
                            <option value="5">Valor Decrescente</option>
                        </select>
                        <label>Filtrar por:</label>
                    </div>
                </div>



                <div id="grid">

                    <table class="highlight centered" id="grid">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Descrição</th>
                                <th>Categoria</th>
                                <th>Valor</th>
                                <th>Conta</th>
                                <th>Tipo de Conta</th>
                                <th>Opções</th>


                            </tr>
                        </thead>


                        @{

                            decimal totalReceitas = 0;
                            foreach (var item in (List<ReceitasModel>)ViewBag.ListaReceitas)
                            {
                                totalReceitas = item.totalReceita;
                                <tbody id="lista">
                                    <tr data-tipo="RECEITA" data-id=@item.idTipoReceita data-valor=@item.valor data-descricao="@item.descricaoReceita" data-dtReceita="@item.dataReceita" data-idTipoReceita="@item.idTipoReceita" data-descricaoTipoReceita="@item.descricaoTipoReceita" data-idReceita="@item.idReceita">
                                        <td value=@item.idReceita hidden></td>
                                        <td>@item.dataReceita</td>
                                        <td>@item.descricaoReceita</td>
                                        <td>@item.descricaoTipoReceita</td>
                                        <td style="color:#21a721">@item.valor</td>
                                        <td>@item.nomeConta</td>
                                        <td>@item.tipoConta</td>
                                        <td> <a href="#" onclick="ExcluirRceita(@item.idReceita)"> <i class="material-icons" style="color: red" title="Deletar">delete</i> </a>  <a href="#modalEdit" onclick="carregarTipoReceita('tipoReceitaEditar');" class="modal-trigger" data-bteditar> <i class="material-icons" title="Editar">edit</i> </a></td>
                                    </tr>
                                </tbody>
                            }

                        }

                    </table>

                </div>

                @{

                    if (totalReceitas > 0)
                    {

                        <div id="grid" class="totalReceita">
                            <table class="centered" id="grid">
                                <thead>
                                    <tr>
                                        <th id="TotalReceita" style="color:#21a721">Total</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th id="TotalReceita" style="color:#21a721">@totalReceitas</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </thead>
                            </table>
                        </div>

                    }
               }






                @using Microsoft.AspNetCore.Http;
                @inject IHttpContextAccessor HttpContextAccessor
                <!-- Modal Structure -->
                <div id="modalEdit" class="modal">

                    <div class="modal-content" style="background-color: #81c784">
                        <h5>Entradas</h5>
                    </div>

                    <div class="row">

                        <form class="col s6 " id="formAddReceita" asp-controller="Receita" asp-action="EditarReceita" method="post">

                            <div class="row">
                                <input id="idReceitaFormEditar" type="number" value="" name="idReceita" hidden>
                                <div class="input-field col s6">
                                    <!-- <p>Digite um Valor:</p> -->
                                    <input id="valorEditar" type="text" class="validate" name="valor">

                                    <label class="active" for="valorEditar">Valor:</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="descricaoEditar" type="text" class="validate" name="descricaoReceita">
                                    <label class="active" for="descricaoEditar">Descrição:</label>
                                </div>
                            </div>

                            <div class="row" id="divDataPicker">
                                <input class="active" type="text" class="datepicker" id="dtReceitaEditar" name="dataReceita">
                            </div>

                            <select id="tipoReceitaEditar" name="idTipoReceita" onload="SelectTipoReceita()">
                                @{TipoReceitaModel objTipoReceita = new TipoReceitaModel(); }

                                @foreach (var item in (objTipoReceita.retornaReceitas(id)))
                                {
                                    //item.idTipoReceita ==
                                    <option value=@item.idTipoReceita.ToString() id="@item.dsTipoReceita.ToString()">@item.dsTipoReceita.ToString()</option>
                                }
                            </select>



                            <div class="opcoesBtn">
                                @{HttpContextAccessor.HttpContext.Session.SetString("IdUsuarioLogado", id.ToString()); }

                                <button type="submit" class=" waves-effect waves-green btn" id="btnSalvar">Salvar</button>
                                <a href="#!" class="modal-close waves-effect waves-effect btn background-color: red" id="btnCancelar">Cancelar</a>
                            </div>
                        </form>

                    </div>

                </div>
            </main>



        </body>

        }
    }